
@{
    ViewData["Title"] = "View More Page";
    Layout = "_Layout";
}
@using USSD.Admin.ViewModels
@model ProductViewMoreViewModel
<div class="main-content">

         <div class="d-flex justify-content-between mx-4 com-header">
            <a asp-controller="product" asp-action="index" class="mb-5"><span class="btn btn-secondary"><i class="las la-arrow-left"></i>Orqaga qaytish</span></a>
         </div>
            <div class="mx-4">
                <p>Id: @Model.products.Id</p>
                <hr />
                <p>TitleUz: @Model.products.TitleUz</p>
                <hr />
                <p>TitleUz: @Model.products.TitleUz</p>
                <hr />
                <p>Narxi: @Model.products.Price</p>
                <hr />
                <p>Code: @Model.products.Code</p>
                <hr />
                <p>ExpiryDate: @Model.products.ExpiryDate</p>
                <hr />
                <p>Valume: @Model.products.Valume</p>
                <hr />
                <p>DescriptionUz: @Model.products.DescriptionUz</p>
                <hr /> <br/>
                <p>DescriptionRu: @Model.products.DescriptionRu</p>
                <hr />
            </div>

</div>
               